section#contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

div#form input[type="submit"] {
    float: right;
    margin-top: 10px;
    font-size: 16px;
}

section#contact-form p {
    font-size: 18px;
}

section#contact-form h2 {
    font-weight: bold;
}