img[alt="www.000webhost.com"] {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
    background: url('../images/bg-pattern.png') repeat;
}

/***************************** HEADER ******************************/
header {
    background-color: #2c3e50;
    font-family: 'Russo One', sans-serif;
}

/****** LOGO *******/

header #logo {
    font-size: 50px;
    color: #ecf0f1;
}

/****** NAVIGATION *******/

header div.row {
    display: flex;
}

header nav {
    float: right;
    display: flex;
    height: 100%;
}

header nav a {
    align-items: stretch;

    font-size: 25px;
    color: #ecf0f1;

    padding-top: 4%;
    padding-left: 10px;
    padding-right: 10px;

    transition: 0.5s background-color ease;

}

header nav a:hover {
    text-decoration: none;
    background-color: #34495e;
    color: #ecf0f1;
}

header nav a:focus {
    text-decoration: none;
    color: #ecf0f1;
}

header nav a.current {
    background-color: #3a5168;
}

/****** NAV BUTTON *******/

header div#nav-button {
    margin-top: 10px;
    float: right;
    font-size: 30px;
}

header div#nav-button button {
    color: white;
    background-color: #2c3e50;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px) {
    header nav a {
        padding-top: 22px;
    }

    header div#nav-button {
        display: none;
    }

    header div#nav {
        display: block !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header nav a {
        font-size: 20px;
        padding-top: 26px;
    }
}

@media screen and (max-width: 767px) { /* Navigation for mobile phones */
    header div#nav {
        display: none;
    }

    header div.row {
        display: block;
    }

    header div#logo {
        text-align: center;
    }

    header div#nav {
        padding-left:0px;
        padding-right: 0px;
    }

    header nav {
        display: block;
        float: none;
        margin: 0px auto;
        text-align: center;
    }

    header nav a {
        height: 40px;
        display: block;
        font-size: 25px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-top: 1px solid gray;
    }
}

/***************************** MAIN ******************************/

/*** HERO SECTION /***/

section#hero {
    padding-top: 25px;
    padding-bottom: 35px;
    background: url("../images/section1bg.jpg") no-repeat center center;
    background-size: 100%;
}

section#hero .aboutUs {
    background-color: rgba(236, 240, 241, 0.6);
}

section#hero .aboutUs h1 {
    font-weight: bold;
}

section#hero .aboutUs p {
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    section#hero {
        background-size: cover;
    }

    section#hero .aboutUs h1 {
        font-size: 22px;
    }

    section#hero .aboutUs p {
        font-size: 17px;
    }
}

/*** TAGLINE SECTION ***/

section#tagline {
    background-color: #67809F;
}

section#tagline h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

@media screen and (max-width: 767px) {
    section#tagline h2 {
        font-size: 30px;
    }
}

/*** SERVICES SECTION ***/

section#services {
    padding-top: 20px;
    
    -webkit-box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
    box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
}

section#services h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #2c3e50;
    font-weight: bold;
}

section#services div.container > h2 {
    display: inline-block;
    font-size: 30px;
}

section#services img {
    border-radius: 10px;
}

section#services .boxText {
    font-size: 20px;
    padding-top: 15px;
}

section#services .usluge {
    margin-top: 20px;
    margin-bottom: 20px;
}

section#services .usluge p {
    font-size: 30px;
    float: right;
}

section#services button {
    width: 100%;
    font-size: 20px;
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    section#services .box img {
        display: block;
        float: left;
        margin-right: 20px;
    }

}

@media screen and (max-width: 768px) {
    section#services .box img {
        display: none;
    }

    section#services .usluge p {
        font-size: 25px;
    }

    section#services .boxText {
        padding-top: 0px;
    }
}

/*** INFOS SECTION ***/

section#infos {
    background-color: #2C3E50;
    
    -webkit-box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
    box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
}

section#infos .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

section#infos .infoBox {
    color: white;
    text-align: center;
}

section#infos .infoBox h4 {
    font-weight: bold;
}

section#infos .infoBox span {
    font-size: 20px;
}

section#infos .infoBox i {
    font-size: 50px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    section#infos .infoBox .email {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    section#infos .infoBox {
        height: 145px;
    }

    section#infos .infoBox {
        border-right: 1px solid dimgray;
    }
}

@media screen and (max-width: 991px) {
    section#infos .row {
        padding: 0px;
    }

    section#infos .infoBox {
        text-align: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid dimgray;
    }

    section#infos .infoBox h4 {
        float: right;
    }

    section#infos .infoBox i {
        display: inline-block;
        width: 50px;
        text-align: center;
        margin-right: 15px;
        float: left; /* Only for IE, android browser.. */
    }

    section#infos .infoBox span {
        display: inline-block;
        float: left; /* Only for IE, android browser.. */
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    section#infos .infoBox h4 {
        display: none;
    }

    section#infos .infoBox span {
        font-size: 18px;
    }

    footer p {
        font-size: 14px;
    }
}


/***************************** MAP *******************************/

#map iframe {
    width: 100%;
    height: 350px;
    border: none;
    pointer-events: none;
}

#map iframe.clicked {
    pointer-events: auto;
}

/***************************** FOOTER ******************************/

#footer {
    background-color: #2C3E50;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: white;
}

#footer #scroll-top {
    float: right;
    color: white;
    text-decoration: underline;
}

/***************************** KONTAKT ******************************/
section#contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

div#form input[type="submit"] {
    float: right;
    margin-top: 10px;
    font-size: 16px;
}

section#contact-form p {
    font-size: 18px;
}

section#contact-form h2 {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    div#form input[type="text"],
    div#form input[type="email"] {
        width: 70%;
    }
}