html {
    scroll-behavior:smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
    background: url('../images/bg-pattern.png') repeat;
}

/***************************** HEADER ******************************/
header {
    background-color: #2c3e50;
    font-family: 'Russo One', sans-serif;
}

nav .navbar-brand {
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 0;
}

nav .nav-link {
    color: white !important;
    font-size: 1.25rem;
    padding-bottom: .75rem;
    padding-left: .5rem !important;
    padding-top: .75rem;
    transition: 0.5s background-color ease;
}

nav .nav-link:hover, .nav-link:focus {
    color: #ecf0f1;
    background-color: #34495e;
}

/***************************** MAIN ******************************/
/*** HERO ***/
#hero {
    background: url("../images/section1bg.jpg") no-repeat center center;
    background-size: 100%;
}

#hero .about-us {
    background-color: rgba(236, 240, 241, 0.6);
}

#hero .about-us h1 {
    font-size: 1.65rem;
    font-weight: bold;
}

@media screen and (max-width: 767.98px) {
    #hero {
        background-size: cover;
    }

    #hero .about-us h1 {
        font-size: 1.2rem;
    }

    #hero .about-us p {
        font-size: .9rem;
    }
}

/*** TAGLINE ***/
#tagline {
    background-color: #67809F;
}

#tagline p {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 767.98px) {
    #tagline p {
        font-size: 1.5rem;
    }
}

/*** SERVICES ***/
#services {
    -webkit-box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
    box-shadow: inset 0px 7px 22px 0px rgba(0,0,0,0.46);
}

#services h1 {
    font-size: 1.75rem;
}

.service {
    background-color: transparent;
    border: 0;
}

.service h2 {
    color: #2c3e50;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}

@media screen and (max-width: 575.98px)
{
    .service img {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .service img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (max-width: 767.98px) {
    #services .box img {
        display: none;
    }

    #services .usluge p {
        font-size: 25px;
    }

    #services .boxText {
        padding-top: 0px;
    }
}

/*** INFO BOXES ***/
#info-boxes {
    background-color: #2C3E50;
    
    -webkit-box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
    box-shadow: 0px -7px 22px 0px rgba(0,0,0,0.46);
}

.info-box {
    text-align: center;
}

.info-box .info-box-value {
    color: white;
    font-size: .9rem;
}

.info-box .h5 {
    font-weight: bold;
}

.info-box i {
    font-size: 3rem;
    margin-bottom: .75rem;
}

@media screen and (min-width: 992px) {
    .info-box:not(:last-child) {
        border-right: 1px solid dimgray;
    }
}

@media screen and (max-width: 991.98px) {
    .info-box {
        text-align: unset;
    }
    
    .info-box:not(:last-child)
    {
        border-bottom: 1px solid dimgray;
    }

    .info-box .h5 {
        margin: 0px;
    }

    .info-box i {
        float: left;
        margin-right: 1rem;
        margin-bottom: 0;
        width: 4rem;
        text-align: center;
    }
}

/*** MAP ***/
#map {
    height: 400px;
}

#map iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

#seeyou {
    background-color: #67809F;
}

/*** SEEYOU ***/
#seeyou p {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
}

/*** CONTACT ***/
#contact {
    background: url('../images/email-pattern.png') repeat;
    -webkit-box-shadow: inset 0px 20px 15px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 20px 15px -5px rgba(0,0,0,0.25);
    box-shadow: inset 0px 20px 15px -5px rgba(0,0,0,0.25);
}

#contact .btn, label, input, textarea {
    color: #2C3E50 !important;
    border-color: #2C3E50 !important;
}

#contact .btn:hover {
    color: white !important;
    background-color: #2C3E50;
}

#contact h1 {
    font-size: 1.75rem;
}

/***************************** FOOTER ******************************/
footer {
    background-color: #2C3E50;
    color: lightgray;

    -webkit-box-shadow: 0px -18px 31px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -18px 31px -5px rgba(0,0,0,0.25);
    box-shadow: 0px -18px 31px -5px rgba(0,0,0,0.25);
}

footer a {
    color: lightgray;
}

footer a:hover {
    color: white;
}
