section#services ul li h3 {
    font-weight: bold;
}

section#services ul li {
    font-size: 20px;
}

section#services p {
    font-size: 25px;
    padding-top: 10px;
    border-top: 1px solid dimgray;
}

@media screen and (max-width: 767px) {
    section#services ul li h3 {
        font-size: 20px;
    }
    
    section#services ul li {
        font-size: 15px;
    }

    section#services ul {
        padding-left: 20px;
    }

    section#services p {
        font-size: 15px;
    }
}

footer {
    border-top: 1px solid dimgray;
}